@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&diplay=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan',sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight:700;
    font-size: 12px;
}

p{
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    padding: 40px 0;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index:  999; 
    position: sticky;
    top: 0%;
    left: 0%;
}

#navbar{
    display: flex;
    align-content: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: rgb(34, 160, 120);
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(34, 160, 120) ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#hero{
    background-image: url(images/hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0% ;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
}

#hero h4{
    padding-bottom: 15px; 
}

#hero h1{
    color:rgb(34, 160, 120) ;
}

#hero button{
    background-image: url(images/button.png);
    background-color: transparent;
    color: rgb(34, 160, 120) ;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 100px;
    text-align: center;
    padding: 10px 10px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border: 1px solid #cce7d0 ;
    border-radius: 4px ;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    display: inline block;
    line-height: 1;
    border-radius: 4px;
    color: #088178 ;
    background-color: #fddde4;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0; 
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06)  ;

}

#product1 .pro img{
    border-radius : 20px;
}

#product1 .pro input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#product1 .pro button{
    background: #030303 ;
    color: #fff;
}

#ban .banner{
    
    margin-right: 10px;
    justify-content: center;
    background-size: cover; 
    overflow: hidden;
}

#ban .banner img{
    width: fit-content;
}
.banner-box{
    width: 100%;  
    display: flex;
    animation: slide 15s infinite;
}

@keyframes slide{
    0%
    {
       transform: translateX(0);
    }
    25%
    {
       transform: translateX(-10%);
    }
    30%{
        transform: translateX(-125%);
    }
    50%{
        transform: translateX(-125%);
    }
    55%{
        transform: translateX(-245%);
    }
    75%{
        transform: translateX(-245%);
    }
    80%{
        transform: translateX(-360%);
    }
    100%{
        transform: translateX(-360%);
    }
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(images/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4{
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    margin-left: -30px;
    padding: 0 1.25em;
    font-size: 14px;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

#newsletter button{
    height: 3.125rem;
    width: 25%;
    margin: 1px -2px ;
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom:20px ;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin: 0 0 8px 0;
}

footer .follow{
    margin-top: 20px;
}

footer .follow img{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow img:hover,footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#prodetail .single-pro{
    width: 40%;
    margin-right: 50px;
}

#prodetail .small-img-grp{
    display: flex;
    justify-content: space-between;
}

#prodetail .small-img-col{
    flex-direction: column;
    flex-basis: 24%;
    cursor: pointer;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-quantity{
    border: 1px solid #fff;
    outline-color: #fff;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #fff;
}

.total-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding:12px 20px ;
    border: none;
    background: #fff;
    color: #088178;
    font-size: 1rem;
    font-weight: 500;
}